*, :after, :before{
  box-sizing: border-box;
} 

@font-face{
  font-family:Montserrat-Regular;
  src:url(assets/fonts/Montserrat-Regular.ttf);
} 

@font-face{
  font-family:Montserrat-Bold;
  src:url(assets/fonts/Montserrat-Bold.ttf);
} 

@font-face{
  font-family:Montserrat-ExtraBold;
  src:url(assets/fonts/Montserrat-ExtraBold.ttf);
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 10px;
}  

@media(max-width:879px){
  html {
    font-size:8px
  }  
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0.3em 0;
}

.card {
  box-sizing: border-box;
  padding: 20px 50px;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  font-family: Montserrat-Regular, Roboto, Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background: -moz-linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-size: 1.6rem;
  overflow-x: hidden;
  color: black;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 0.1px #00000070;
  font-weight: bold;
  line-height: 1.5;
} 

.left {
  background-color: #fbb03b;
  width: 25%;
  height: 100%;
  float: left;
}

.right {
  width: 75%;
  position: relative;
}

/*header*/
.photo__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.photo__ibox {
  margin-right: 20px;
  border: 10px solid #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  animation: photo 3s infinite alternate;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 75px;
  border: 10px solid #fbb03b;
  box-shadow: 6px 7px 9px 5px #fbb03b73;
  height: 200px;
  width: 200px;
}

.photo__img {
  max-width: 200px;
}

hr {
  width: calc(100% / 1.4);
}

@keyframes photo {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
  }
  40% {
    border-radius:  45% 55% 55% 45% / 45% 45% 55% 55%;
  }
  60% {
    border-radius:  55% 45% 45% 55% / 55% 55% 45% 45%;
  }
  100% {
    border-radius:  70% 30% 30% 70% / 70% 70% 30% 30%;
  }
}

.photo__title {
  margin-bottom: 25px;
  font-family: 'Montserrat-Bold';
}

.header__list {
  width: 96%;
  display: flex;
  margin-top: 20px;
}

.header__list li {
  background-color: #4d4d4d;
  margin: 0 2px;
  position: relative;
  color: #dfe8ee;
  height: 48px;
  display: table;
  width: calc(100% / 6);
  min-width: 105px;
}

.header__list li a {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
  color: #dfe8ee;
  width: 100%;
}

.header__list li:hover a {
  color: #fbb03b;
  font-family: 'Montserrat-Bold';
}

.header__list li::before {
  content: '';
  position: absolute;
  border: 24px solid transparent;
  border-color: transparent;
  border-right-color: #4d4d4d;
  z-index: 1;
}

.header__list li::after {
  content: '';
  position: absolute;
  border: 24px solid transparent;
  border-color: transparent;
  border-right-color: #dfe8ee;
  top: 0px;
  right: calc(100% - 47px );
  transform: rotate(180deg);
}

.header__list li:before {
  top: 0px;
  left: 100%;
  border-color: transparent;
  border-left-color: #4d4d4d;
}

@media (max-width: 1200px) {
  .left {
    min-height: 275px;
  }

  .photo__menu {
    margin-top: 20px;
    left: 0;
    text-align: center;
    position: absolute;
  }

  .photo__ibox {
    margin-left: 110px;
  }

}

@media (max-width: 1080px) {
  .photo__menu {
    margin-left: -25px;
  }
}

@media (max-width: 980px) {
  .photo__menu {
    margin-left: -22%;
  }

  .header__list li {
    width: calc(100vw / 6 - 30px);
    min-width: calc(100vw / 6 - 30px);
  }

  .header__list li:nth-child(1)::after{
    border-right-color: #fbb03c;
  }
}

@media (max-width: 800px) {
  .photo__name {
    margin-left: 20%;
  }

  .photo__menu {
    margin-left: -30%;
  }

  .header__list li:nth-child(2)::after{
    border-right-color: #fbb03c;
  }
}

@media (max-width: 700px) {
  .photo__ibox {
    margin-left: 50px;
  }

  .photo__menu {
    margin-left: -35%;
  }

  .header__list li a {
    font-size: 0.9em;
  }
}

@media (max-width: 610px) {
  .photo__name {
    margin-left: 25%;
  }

  .header__list li a {
    font-size: 0.8em;
  }

  .photo__menu {
    margin-top: 0;
    margin-left: -40%;
  }
}

@media (max-width: 560px) {
  .header .left {
    background: none;
  }

  .header__list {
    width: 100%;
  }

  .header__list li {
    width: calc(100vw / 6 - 4px);
  }

  .photo__menu {
    margin-left: -43%;
  }

  .header__list li::before, .header__list li::after {
    content: none;
  }

  .header__list li a {
    padding-left: 0;
  }

}

@media (max-width: 475px) {
  .photo__title {
    font-size: 1.5em;
  }
  .photo__ibox {
    margin-left: 25px;
  }
  .photo__menu {
    margin-left: -45%;
    margin-top: 10px;
  }
}

@media (max-width: 415px) {
  .photo__ibox {
    margin-left: 10px;
  }
  .photo__menu {
    margin-left: -47%;
  }
}

@media (max-width: 380px) {
  .photo__ibox {
    margin-left: 75px;
  }

  .header__list li a {
    font-size: 0.7em;
  }

  .photo__wrapper {
    justify-content: center;
    align-items: start;
    flex-direction: column-reverse;
  }

  .photo__menu {
    margin-top: 200px;
    margin-left: -14%;
  }
}

@media (max-width: 350px) {
  .photo__ibox {
    margin-left: 65px;
  }

  .photo__menu {
    margin-left: -16%;
  }
}

@media (max-width: 320px) {
  .photo__ibox {
    margin-left: 50px;
  }

  .photo__menu {
    margin-left: -20%;
  }
}


/*main*/
.main {
  flex-grow: 1;
  display: flex;
}

@media (max-width: 560px) {
  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .main .left, .main .right {
    width: 100%;
  }
}

.contacts__icon, .skills__icon {
  width: 32px;
}

.left__title {
  background-color: #4d4d4d;
  padding: 10px;
  color: #fbb03b;
  text-align: left;
  padding-left: 20px;
  margin-right: -15px;
  position: relative;
}

.left__title::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 18px;
  background-color: #5a5959;
  right: 3px;
  top: 43px;
  transform: rotate(56deg);
  z-index: -1;
}

@media (max-width: 879px) {
  .left__title::after {
    right: 3px;
    top: 36px;
  }
}

.contacts__link {
  font-size: 1.4rem;
  margin: 20px 10px;
}

.contacts__list, .skills__list {
  margin: 0;
  padding: 0;
}

.contacts__list li, .skills__list li {
  list-style-type: none;
  margin-top: 10px;
}

.skills, .languages {
  margin-top: 20px;
}

.skills__list {  
  margin-left: 10px;
}

.languages__list li:hover, .skills__list li:hover {
  transition: all 0.15s;
  letter-spacing: 3px;
  cursor: pointer;
}

.skills__list li:hover .skills__icon, 
.contacts__list li:hover .contacts__icon,
.footer a:hover .footer__icon {
  transform: translate3D(0, 0, 0) scale(1.1);
}

.languages__list {
  padding-inline-start: 30px;
}

.info {
  display: flex;
}

.info__txt {
  text-align: justify;
}

.code__title {
  padding: 25px 0 0px;
  font-size: 1.2em;
  position: relative;
  overflow: hidden;
}

.code__title a, .projects__label {
  color: #4d4d4d;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  font-size: 0.9em;
}

.code__wrapper {
  color: #f1f3f5;
  background-color: #131414;
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 1.7;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  border-radius: 0.3rem;
  padding: 0.85em 1em;
}

.cm-keyword {
  color: #b294bb;
}

.cm-def {
  color: #de935f;
}

.cm-meta {
  color: #cccccc;
}

.cm-variable-2 {
  color: #89b6c5;
}

.cm-property {
  color: #81a2be;
}

.cm-operator {
  color: #ddd;
}

.cm-string {
  color: #b5bd68;
}

.code_js {
  font-family: CamingoCode-Regular,monospace;
}

.education {
  display: block;
  background-size: cover;
  background-attachment: fixed;
}

.education__wrapper {
  width: inherit;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10px;
}

.right__title {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Montserrat-ExtraBold';
  position: relative;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.right__title::after {
  content: '';
  height: 1px;
  position: absolute;
  background-color: #222;
  width: 15%;
  bottom: 0;
  left: 0;
  right: 1%;
  margin: 0 auto;
}

.timeline {
  position: relative;
  padding: 2em 0 0 0;
  width: 100%;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(20% - 1px);
  height: 100%;
  width: 2px;
  background: #4d4d4d;
}

.timeline__block:first-child {
  margin-top: 0;
}

.timeline__block {
  position: relative;
  transition: all 0.3s ease;
  margin: 1em 0;
}

.timeline__content {
  float: right;
  position: relative;
  background: #4d4d4d;
  border-radius: 3px;
  margin-left: 0;
  padding: 0.5em;
  width: 70%;
  opacity: 0.9;
}

.timeline__content:hover {
  opacity: 1;
}
.timeline__content:hover + .timeline__img {
  background-color: #b86f02;
}

.timeline__content:before {
  content: '';
  position: absolute;
  top: 24px;
  right: 100%;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-color: transparent;
  border-right-color: #4d4d4d;
}

.timeline__title {
  color: #fafafa;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
  font-size: 0.9em;
}

.timeline__speciality {
  margin: 10px 0 10px 0;
  font-size: 0.9em;
  font-family: "Montserrat-Bold";
}

.timeline__p {
  color: #fbb03c;
  display: inline;
  font-size: 0.9em;
  transition: all 0.3s ease;
}

.timeline__descr {
  color: #fafafa;
  font-size: 0.9em;
  line-height: 1.2;
}

.timeline__img {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 15%;
  border-radius: 50%;
  background: #222;
  margin-top: 13px;
}

.timeline__wrapp-img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.timeline__date {
  display: inline-block;
  color: #4d4d4d;
  text-transform: uppercase;
  position: absolute;
}

.tim {
  display: none;
}

.timeline__block .timeline__date {
  margin-left: 1%;
  font-size: 0.8em;
  left: auto;
  margin-top: 11px;
  display: block;
  width: 50px;
}

.timeline__block:after {
  display: table;
  clear: both;
  content: '';
}

.projects__content {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.projects__img {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.projects__img img {
  width: 100%;
  display: block;
  transition: all 0.75s ease;
}

.projects__link:hover .projects__img img {
  transform: scale(1.2, 1.2);
  transform-origin: center center;
}

@media (max-width: 1050px) {
  .timeline__block .timeline__date {
    font-size: 0.7em;
  }

  .contacts__link {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .contacts__link {
    font-size: 1.2rem;
  }

  .tim {
    display: inline-block;
  }
  .timeline__block .timeline__date {
    font-size: 0.7em;
    position: absolute;
    top: -20px;
    bottom: 10px;
    left: 41px;
    font-family: 'Montserrat-ExtraBold';
    width: 100%;
  }

  .timeline__img {
    left: -1%;
  }

  .timeline::before {
    left: 6%;
  }
  .timeline__content {
    width: 84%;
    margin-top: 5px;
  }
}

@media (max-width: 950px) {
  .contacts__icon {
    width: 25px;
  }
  .contacts__link {
    font-size: 1.15rem;
  }
}

@media (max-width: 900px) {
  .contacts__icon {
    width: 22px;
  }
  .contacts__link {
    font-size: 1.1rem;
  }
}

@media (max-width: 780px) {
  .timeline::before {
    left: 8%;
  }
}

@media (max-width: 725px) {
  .contacts__icon {
    width: 20px;
  }
  .contacts__link {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .timeline__img {
    display: none;
  }

  .timeline::before {
    left: 1%;
  }

  .timeline__content {
    width: 93%;
  }

  .timeline__block .timeline__date {
    left: 13px;
  }
}

@media (max-width: 675px) {
  .contacts__link {
    font-size: 0.9rem;
  }
  .contacts__link {
    margin: 20px 2px;
 }
 .contacts__icon {
    width: 16px;
  }
}

@media (max-width: 630px) {
  .timeline__title {
    font-size: 0.75em;
  }
}

@media (max-width: 560px) {
  .contacts__icon {
    width: 25px;
  }
  .contacts__link {
    font-size: 1.3rem;
  }

  .timeline::before {
    left: calc(12% - 1px);
  }

  .timeline__content {
    width: 83%;
    margin-top: 0;
  }

  .timeline__img {
    left: 9%;
    display: block;
  }
  .timeline__block .timeline__date {
    font-size: 0.8em;
    position: relative;
    top: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
  }

  .tim {
    display: none;
  }

}

@media (max-width: 400px) {
  .timeline__block .timeline__date {
    font-size: 0.7em;
  }

  .timeline__content {
    width: 80%;
  }

  .timeline__block .timeline__date {
    left: -1%;
  }
}

/*footer*/
.footer {
  width: 100%;
  bottom: 0;
  gap: 50px;
  position: relative;
  right: 0;
  background-color: #4d4d4d;
  padding: 20px 0;
  flex-shrink: 0;
  z-index: 2;
  justify-content: space-around;
}

.footer,
.footer .card {
  align-items:center;
  display:flex;
} 

.wraper-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.rsschool img {
  max-width: 100px;
  height: 50px;
}

.githab a img {
  width: 45px;
}

.footer__icon {
  display: block;
  position: relative;
  width: 50px;
  z-index: 2;
}

.footer .card {
  border-radius: 3px;
  min-height: 70px;
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
}

@media (max-width: 560px) {
  .footer__icon {
    width: 30px;
  }

  .footer .card {
    min-height: 50px;
  }
}

.footer__year {
  flex-direction: column;
}

.footer__year div {
  font-size: 1.8rem;
}

.footer__year b {
  font-size: 1.2rem;
  font-weight: 400;
}

.footer__year aside {
  color: #756c6f;
  font-size: .8rem;
}

.footer__link {
  box-shadow: 0 -15px 15px rgb(255 255 255 / 5%), 
        inset 0 -15px 15px rgb(255 255 255 / 5%), 
        0 15px 15px rgb(0 0 0 / 30%), 
        inset 0 5px 10px rgb(0 0 0 / 30%);
  background: -webkit-linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background: -moz-linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
